@{
    ViewBag.Title = "TarjaVolumen";
}

<script src="~/Content/jquery-1.11.2.js"></script>
<!-- Latest compiled and minified JavaScript -->    

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="~/Content/bootstrap/css/full-slider.css">    
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/mk.css" rel="stylesheet" />

<p class="pMk" style="text-align:center; font-size:28px;">Usualmente, ¿qué volumen de trastes utiliza?</p>
<div style="height:450px;">
    <div class="divGenericoCentrado">
        <div style="float: left; overflow:auto; width:250px; text-align:center; margin:10px; color: deepskyblue;">
            @*border:solid; border-radius:3px; border-width:1px; border-color:lightgray;*@                  
            <img id="pocoVol" style="cursor:pointer;" src="~/Images/pocoVol.png" />
            <br />
            POCO VOLUMEN
            <p style="font-style:italic; font-size:smaller; margin:4px;">
            Pocos utensilios de tamaño pequeño
            </p>
        </div>
        <div style="float: left; overflow:auto; width:250px; text-align:center; margin:10px; color: deepskyblue;">
            @*border:solid; border-radius:3px; border-width:1px; border-color:lightgray;*@
            <img id="muchoVol" style="cursor:pointer;" src="~/Images/muchoVol.png" />
            <br />
            MUCHO VOLUMEN
            <p style="font-style:italic; font-size:smaller; margin:4px;">
            Ollas grandes y muchos utencilios
            </p>
        </div>
    </div>
    <div class="divGenericoCentrado">
        <div style="margin-top:25px;">
            <img src="~/Images/pb7-7.png" />
        </div>
    </div>
    <div class="divGenericoCentrado">
        <button id="btnBack" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Anterior</button>
    </div>
</div>
  
<script>
    $(function () {
        var tipo = "@ViewBag.TipoTarja";
        var medida = "@ViewBag.Medida";
        var tinas = "@ViewBag.Tinas";
        var mueble = "@ViewBag.Mueble";
        var escurridero = "@ViewBag.Escurridero";
        var escOrient = "@ViewBag.EscOrient";

        $("#pocoVol").click(function () {
            window.location = "/Home/TarjaResult?tipo=" + tipo + "&medida=" + medida + "&tinas=" + tinas + "&mueble=" + mueble + "&escurridero=" + escurridero + "&escOrient=" + escOrient + "&volumen=poco";
        });

        $("#muchoVol").click(function () {
            window.location = "/Home/TarjaResult?tipo=" + tipo + "&medida=" + medida + "&tinas=" + tinas + "&mueble=" + mueble + "&escurridero=" + escurridero + "&escOrient=" + escOrient + "&volumen=mucho";
        });

        $("#btnBack").click(function () {
            //window.location = "/Home/TarjaEscurridero?tipo=" + tipo + "&medida=" + medida + "&tinas=" + tinas;
            if (escurridero > 0)
            {
                window.location = "/Home/TarjaEscOrient?tipo=" + tipo + "&medida=" + medida + "&tinas=" + tinas + "&mueble=" + mueble + "&escurridero=" + escurridero;
            }
            else {
                window.location = "/Home/TarjaEscurridero?tipo=" + tipo + "&medida=" + medida + "&tinas=" + tinas + "&mueble=" + mueble;
            }
            
        });
    });
</script>
